/* hero	 */
.hero-image {
  height: 550px;
  background-image: url("https://images.unsplash.com/photo-1610473254734-f22b13aef65b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzZ8fHRvcm9udG98ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60");
  background-size: cover;
  position: relative;
}

.hero-text {
  font-size: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* secondarybar */
.secondary {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  background: rgb(0, 255, 149);
}

.secondary a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.secondary a:hover {
  background: #15c07e;
}

.button {
  background-color: rgb(0, 255, 149);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

@media all and (max-width: 800px) {
  .secondary {
    justify-content: space-around;
  }

  /*tab nav*/
  .tab_nav_item_portfolio {
    background-color: rgba(0, 191, 255, 0.4);
    color: #FFF;
  }
}

@media all and (max-width: 380px) {
  .secondary {
    flex-flow: column wrap;
    padding: 0;
  }
  .secondary a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .secondary li:last-of-type a {
    border-bottom: none;
  }
  main {
    width: 100%;
  }
}

.content {
  display: none;
}
.selected {
  /* display: block; */
  margin: 100px;
}

/* content */
h1 {
  color: green;
  font-size: 48px;
  margin-bottom: 10px;
}

h2 {
  color: #335347;
  font-size: 35px;
  margin-bottom: 15px;
}

.detail {
  margin: 30px;
}

.left {
  margin-bottom: 150px;
}

.right {
  margin-bottom: 150px;
}

.left img {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  max-width: 400px;
  height: auto;
}

.right img {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
  max-width: 400px;
  height: auto;
}

p {
  text-align: justify;
  font-size: 25px;
}

@media all and (max-width: 380px){
/* hero */
.hero-image {
    height: 380px;
    background-image: url("https://images.unsplash.com/photo-1610473254734-f22b13aef65b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzZ8fHRvcm9udG98ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60");
    background-size: cover;
    position: relative;
}

/* content */
.selected {
display: block; 
margin: 5px;
}
h1 {
color: green;

}
h2 {
font-size: 25px;
color: #335347;
}
.detail {
margin: 30px;
}
.left {
margin-bottom: 150px;
}
.right {
margin-bottom: 150px;
}

.left img {
float: left;
margin-right: 15px;
margin-bottom: 15px;
width: 100%;
height: auto;
}
.right img {
float: right;
margin-left: 15px;
margin-bottom: 15px;
width: 100%;
height: auto;
}
p {
text-align: justify;
font-size: 15px;
}
.finance-container{
width: 100%;
display: initial;
}
}


